@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* CSS Document */
body{
	font-family: 'PT Sans', sans-serif;
	background: rgba(192,190,190,1.00);
}
a{
	color: #333;
	font-weight: bold;
	text-decoration: none;
}
h1,h2,h3,h4,h5{
	text-align: left;
	margin: 10px 5px 10px 5px;
	color: #333;
}
div.userFormBlock{
	border: 1px solid #666;
	box-shadow: 0px 5px 10px #666;
	padding: 15px;
	margin-left: 25px;
	margin-bottom: 25px;
	border-radius: 10px;
	width: 90%;
}

.left{
	text-align: left;
}

th{
	min-width: 100px;
	text-align: left;
}

th.currentHighBid{
	width: 150px;
	text-align: left;
}

td.currentHighBid{
	text-align: center;

}

form.siteForm{
	display: inline-block;
	width: 100%;
}
input[type=text], select, input[type=password], textarea, input[type=number] {
    width: 100%; !important
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
	min-height: 200px;
}
div.siteForm form label + input[type="text"]{
	width: 280px;
	height: 30px;
	margin-bottom: 5px;
	font-size: 0.85em;
	padding: 5px 10px 5px 10px;
	box-shadow: inset 1px 0px 9px #666;
	border: 0;
	border-radius: 5px;
}
form label{
	display: inline-block;
	width: 100%;
	font-weight: bold;
	font-size: 0.85em;
}

input[type="submit"]{
    background-color: #5D9AD0;
    background-image: linear-gradient(to bottom, #AAA, #111);
    background-repeat: repeat-x;
	border: 1px solid #CBCBCB;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
	font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
	margin-top: 10px;
    padding: 5px 12px;
    text-align: center;
    text-shadow: 1px 1px rgba( 0, 0, 0, .8);
    vertical-align: middle;
	min-width: 135px;
	border-radius: 5px;
	min-height: 30px;
}

div#container{
	width: 100%;
	height: 100%;	
}

div#headerContainer{
	width: 100%;
	height: auto;
}

div#headerContainer div#headerContent{
	margin: 0 auto;
	width: 1000px;
	height: 200px;
	border: 1px solid #000;
	background: url(../Images/Header.png)	
}


div#content{
	margin: 0 auto;
	width: 1000px;
	height: 100%;
	
}



div#content div#side{
	float: left;
	width: 20%;
	min-height: 953px;
	border: 1px solid #000;
	background: url(../Images/SideBar.png);
}
ul.navigation{

	position: relative;
	padding-left: 0px;
	list-style: none;
	width: 100%;

}

ul.navigation li{
	margin: 0 auto;
	font-size: 1.30em;
	text-align: center;
	border: 1px solid black;
	background: #CBCBCB;
	border-radius: 20px;
	margin-bottom: 5px;
	width: 95%;
	
}

ul.navigation li a{
	color: #333;
	width: 100%;
	text-decoration: none;
	font-weight: bold;
}

ul.navigation li:hover{
	background: #FFF;
}

div#content div#main{
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	width: 77%;
	min-height: 953px;
	border: 1px solid #000;
	background: #F1F2F2;
}

div#footerContainer{
	float: left;
	width: 100%;
	min-height: 100px;
	
}
div#footerContainer div#footerContent{
	margin: 0 auto;
	width: 1000px;
	min-height: 100px;
	border: 1px solid #000;
	background: url(../Images/Footer.png)
}

div.dataPresent{
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	margin-top: 5px;	
}

div.dataLabel{

}

div.dataLabel div.item{

}

div.dataCell{
	margin-left: 10px;
	margin: 5px 5px 5px, 5px;
	border: 1px solid #000;
	width: 49%;
	float: left;
}

span.data{
	margin: 5px 15px 15px 0px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	width: 100%;
}
div.toolbox{
	width: 49%;
	float: right;
}

span.tool{
	margin: 5px 5px 5px 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	border: 1px solid #aaa;
	border-radius: 10px;
	
}

span.tool:hover{
	background: #AAA;
	color: #FFF;
}

div#loginLocation{
	width: 100%;
	display: inline-block;
	
}

div#loginLocation form.login{
	width: 1000px;
	margin: 0 auto;
}

form.login input[type="text"], input[type="password"]{
	height: 26px;
	width: 200px;
	margin-right: 15px;

}

form.login input[type="submit"]{
	margin-top: 0px;
	background-color: #5D9AD0;
    background-image: linear-gradient(to bottom, #AAA, #444);
    background-repeat: repeat-x;
	border: 1px solid #CBCBCB;
	line-height: 0px;
  
}




form.login label{
	width: 100px;
	font-size: 1.15em;
}

span.error{
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: red;
    color: #FFF;
    font-weight: bold;
}

div#loginLocation span p{
	margin: 0 auto;
	margin-bottom: 10px;
	width: 1000px;
	color: rgba(41,0,88,1.00);	
}

div#loginLocation span p a:hover{
	color: #FFF;
}
div#loginLocation span p a{
	color:rgba(163,50,0,1.00);
}

table.auctionData{
	width: 95%;
}

table.auctionData th {
	text-align: left;
	text-decoration: underline;
	min-width: 102px;
}

td.activeAuctionSeller:before{
	content: " - ";
	
}
